body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
    
}
#about {
      background-color: #333;
      text-align: center;
      font-family: 'Arial', sans-serif;
      color: #fff;

     }

#products2{
         padding:60px;
         
}

 footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }